.content {
  flex: 1;
}

.content ul {
  list-style: none;
  border: 1px solid rgb(235, 237, 240);
  border-radius: 2px;
}

.content li:not(:first-child) {
  border-top: 1px solid rgb(235, 237, 240);
}

.post-container {
  display: flex;
}

.post-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-left: 1px solid rgb(235, 237, 240);
  padding: 8px;
}

.title a {
  font-weight: 500;
  transition: color 0.1s ease 0s;
  text-decoration: none;
  color: black;
}

.title a:hover {
  color: #1890ff;
}

.caption {
  font-size: 13px;
  color: rgb(129, 142, 153);
  flex-grow: 1;
}

.caption a {
  color: black;
  text-decoration: none;
  transition: color 0.1s ease 0s;
  font-weight: 500;
}

.caption a:hover {
  color: #1890ff;
}

.links {
  font-size: 13px;
  transition: color 0.1s ease 0s;
  text-decoration: none;
  color: black;
}

.links:hover {
  color: #1890ff;
}
