.comments-list {
  margin-top: 16px;
  list-style: none;
}

.comments-list-item {
  margin-bottom: 8px;
}

.comment-container {
  border: 1px solid rgb(235, 237, 240);
}

.comment-header {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid rgb(235, 237, 240);
  background-color: rgb(244, 246, 248);
}

.comment-header-author {
  font-weight: 500;
  font-size: 13px;
}

.comment-header-timestamp {
  margin-left: 4px;
  margin-right: auto;
  color: rgb(129, 142, 153);
  font-size: 13px;
}

.comment-body {
  padding: 12px;
  font-size: 15px;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.comment-form-footer {
  display: flex;
  justify-content: flex-end;
}

.comment-footer-message {
  align-self: center;
  margin-right: 12px;
  color: rgb(129, 142, 153);
  font-size: 13px;
  text-transform: lowercase;
}

.comment-edit-textarea {
  width: 100%;
  resize: none;
  font-size: 15px;
  font-family: inherit;
  padding: 15px;
  border: 1px solid rgb(0, 149, 246);
  outline: none;
}

.comment-edit-footer {
  display: flex;
  justify-content: flex-end;
}

